In [ ]:
# Overall goal is to load the 4 disparate datasets and merge them into one
# then I need to create regions column for comparison and analysis
# then I need to come up with a road map on what we can do with the data

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sys
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display

In [2]:
# create directory

# import pathlib
# path = pathlib.Path(r'C:\Users\Mohamed Ahmed Warsam\Desktop\Material\WORKING DIRECTORY\Governance_Growth').mkdir(parents=True, # exist_ok=True) 

#import os
#path = os.chdir(r'C:\Users\Mohamed Ahmed Warsam\Desktop\PythonScripts')
datapath1 = 'data/p4v2016.xlsx'
datapath2 = 'gdp_per_capita.xlsx'

In [3]:
# load the two dataframes

data1 = pd.read_excel(datapath1, sheetname=0)
data2 = pd.read_excel(datapath2, sheetname=0)

FileNotFoundError: [Errno 2] No such file or directory: 'data/p4v2016.xlsx'

In [5]:
# display the two dataframes

display(data1.head())
display(data2.head())

,Country,Year,Flag,Fragment,Democ,Autoc,Polity,Polity2,Durable,Xrreg,Xrcomp,Xropen,Xconst
0,Afghanistan,1800,0,NaN,1,7,-6,-6.0,NaN,3,1,1,1
1,Afghanistan,1801,0,NaN,1,7,-6,-6.0,NaN,3,1,1,1
2,Afghanistan,1802,0,NaN,1,7,-6,-6.0,NaN,3,1,1,1
3,Afghanistan,1803,0,NaN,1,7,-6,-6.0,NaN,3,1,1,1
4,Afghanistan,1804,0,NaN,1,7,-6,-6.0,NaN,3,1,1,1

       Country Currency  Year  Per capita GDP
0  Afghanistan      US$  1970      157.258461
1  Afghanistan      US$  1971      160.443153
2  Afghanistan      US$  1972      136.175612
3  Afghanistan      US$  1973      144.173945
4  Afghanistan      US$  1974      175.027098

In [ ]:
# Motivation for paper is to show there was a change at some point in the mid 1990s
# load the polity IV data (PolityIV.xlsx) spanning 1970 to now and the GDP per capita (gdp_per_capita.xlsx)
# merge the data and group by region column and use mean method to get
# 1) mean democracy score plotted with average gdp per capita to replicate the chart in Green (2013)
# remember that some countries and years have nan values
# strategy to overcome this is to first create a list where the polity variables are notnull
# and then use the index attribute to select the Year column for those rows to subset the dataframe in this way

In [6]:
# first define the year and region lists

timerange1 = [1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
            2008, 2009, 2010, 2011, 2012, 2013, 2013, 2014, 2015]

In [7]:
# first define the year and region lists

# filter dataset by region - Africa

SSA1 = ["Angola", "Gabon", "Nigeria", "Benin", "Gambia, The", "Rwanda", "Guinea-Bissau",
   "Botswana", "Ghana", "São Tomé and Principe", "Burkina Faso", "Guinea", "Senegal", "Burundi", "Seychelles", "Cabo Verde", "Kenya", "Sierra Leone", "Cameroon", "Lesotho", "Somalia", "Central African Republic", "Liberia", "South Africa", "Chad", "Madagascar", "Comoros", "Malawi", "Sudan", "Congo, Dem. Rep.", "Mali", "Swaziland", "Congo, Rep", "Mauritania", "Tanzania", "Côte d'Ivoire", "Mauritius", "Togo", "Equatorial Guinea", "Mozambique", "Uganda", "Eritrea" "Namibia", "Zambia", "Ethiopia", "Niger", "Zimbabwe"]

In [8]:
# limit time range in polity IV series

data1final = data1[(data1['Year'].isin(timerange1))]

In [9]:
# merging the two dataframes

mergedf = pd.merge(left=data2, right=data1final, how='left', on=['Country', 'Year'])

In [10]:
# make sure we have the right date range and countries

mergedf1 = mergedf[(mergedf['Year'].isin(timerange1)) & (mergedf['Country'].isin(SSA1))]

In [11]:
# check mergedf1

display(mergedf1.head())
display(mergedf1.info())

,Country,Currency,Year,Per capita GDP,Flag,Fragment,Democ,Autoc,Polity,Polity2,Durable,Xrreg,Xrcomp,Xropen,Xconst
276,Angola,US$,1970,604.189952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,Angola,US$,1971,622.501779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,Angola,US$,1972,622.704067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,Angola,US$,1973,743.128379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,Angola,US$,1974,812.704326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1744 entries, 276 to 10548
Data columns (total 15 columns):
Country           1744 non-null object
Currency          1744 non-null object
Year              1744 non-null int64
Per capita GDP    1744 non-null float64
Flag              1586 non-null float64
Fragment          580 non-null float64
Democ             1586 non-null float64
Autoc             1586 non-null float64
Polity            1586 non-null float64
Polity2           1584 non-null float64
Durable           1586 non-null float64
Xrreg             1586 non-null float64
Xrcomp            1586 non-null float64
Xropen            1586 non-null float64
Xconst            1586 non-null float64
dtypes: float64(12), int64(1), object(2)
memory usage: 218.0+ KB

None

In [ ]:
# add a region column SSA
# drop rows for which we have no data for either of the two variables
# groupby region and year and calculate mean GDP in an array
# plot this against mean democracy score
# subset the dataframe for countries that have nonnull institutional variables
# come up with as many plots as possible
# create a subset dataframe with year, mean gdp and mean democracy score

In [12]:
# final df

findf = mergedf1.copy()
findf.index = pd.RangeIndex(len(findf.index))

In [13]:
# create region column

print(findf.head(10))

  Country Currency  Year  Per capita GDP  Flag  Fragment  Democ  Autoc  \
0  Angola      US$  1970      604.189952   NaN       NaN    NaN    NaN
1  Angola      US$  1971      622.501779   NaN       NaN    NaN    NaN
2  Angola      US$  1972      622.704067   NaN       NaN    NaN    NaN
3  Angola      US$  1973      743.128379   NaN       NaN    NaN    NaN
4  Angola      US$  1974      812.704326   NaN       NaN    NaN    NaN
5  Angola      US$  1975      583.542745   0.0       NaN    0.0    7.0
6  Angola      US$  1976      545.366469   0.0       NaN    0.0    7.0
7  Angola      US$  1977      579.128062   0.0       NaN    0.0    7.0
8  Angola      US$  1978      627.885755   0.0       NaN    0.0    7.0
9  Angola      US$  1979      676.503871   0.0       NaN    0.0    7.0

   Polity  Polity2  Durable  Xrreg  Xrcomp  Xropen  Xconst
0     NaN      NaN      NaN    NaN     NaN     NaN     NaN
1     NaN      NaN      NaN    NaN     NaN     NaN     NaN
2     NaN      NaN      NaN    NaN     NaN     NaN     NaN
3     NaN      NaN      NaN    NaN     NaN     NaN     NaN
4     NaN      NaN      NaN    NaN     NaN     NaN     NaN
5    -7.0     -7.0      0.0    2.0     1.0     4.0     3.0
6    -7.0     -7.0      1.0    2.0     1.0     4.0     3.0
7    -7.0     -7.0      2.0    2.0     1.0     4.0     3.0
8    -7.0     -7.0      3.0    2.0     1.0     4.0     3.0
9    -7.0     -7.0      4.0    2.0     1.0     4.0     3.0

In [14]:
# we want a column 'Region'

findf['Region'] = 'SSA'

In [18]:
# check findf

display(findf.info())

findf['Region'] = findf['Region'].astype('category')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1744 entries, 0 to 1743
Data columns (total 16 columns):
Country           1744 non-null object
Currency          1744 non-null object
Year              1744 non-null int64
Per capita GDP    1744 non-null float64
Flag              1586 non-null float64
Fragment          580 non-null float64
Democ             1586 non-null float64
Autoc             1586 non-null float64
Polity            1586 non-null float64
Polity2           1584 non-null float64
Durable           1586 non-null float64
Xrreg             1586 non-null float64
Xrcomp            1586 non-null float64
Xropen            1586 non-null float64
Xconst            1586 non-null float64
Region            1744 non-null category
dtypes: category(1), float64(12), int64(1), object(2)
memory usage: 206.2+ KB

None

In [ ]:
# define sns.set()
sns.set(style="darkgrid")

In [20]:
# do the group and plot the time series object

meangdpc = findf.groupby(['Year', 'Region'])['Per capita GDP'].mean()

meandemoc = findf.groupby(['Year', 'Region'])['Democ'].mean()

In [ ]:
# plotting time series object

sns.tsplot(data=findf, time="Year", unit="subject",
           condition="ROI", value=[meangdpc, meandemoc]"BOLD signal")

In [ ]:
# useful subsetting technique
# ValidVisitorIDs = convdf1['cs.visitor_id'].unique().tolist()
# resultdf = df[df['cs.visitor_id'].isin(ValidVisitorIDs)]
# drop rows when meandf1[(meandf1['Polity2'].notnull()) & (len(meandf1['Country']) != len(findf['Year']))]

'''
units = meandf1['Country'].tolist()

for c in units:
    if meandf1['Polity2'].notnull() & len(meandf1['Country']) != len(findf['Year']):
        meandf1.drop(c, axis=0)
    else:
        pass
'''

In [ ]:
# WORKING WITH MEAN DF 
# df[(df['cs.visitor_id'] == vid) & (df['cs.evar59'].notnull())]
meandf1 = findf[['Country', 'Year', 'Per capita GDP', 'Polity2']]
#else:
#pass

# meandf1 = findf[(findf['Per capita GDP'].notnull()) & (findf['Polity2'].notnull())]

In [ ]:
# investigate meandf

meandf1.index = pd.RangeIndex(len(meandf1.index))

display(meandf1.head(100))
display(meandf1.tail(100))
print(meandf1.shape)
meandf1.info()

In [ ]:
# region column SSA
# create a list for each country and loop through it creating column meandf1['Region'] = 'SSA'

In [ ]:
# drop countries where polity2 is null in any year

dropc = findf1[findf1['Polity2'].isnull()].tolist()

In [ ]:
# load growth module and reshape
# file = r'C:\Users\Mohamed Ahmed Warsam\Desktop\Material\WORKING DIRECTORY\Governance_Growth\Governance.xlsx'

data1 = pd.read_excel(datapath, sheetname=0)
display (data1.head())

In [ ]:
# reshape and cleaning 1

melt_data = data1.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], var_name="Year")
melt_data.tail()

In [ ]:
# reshape and cleaning 2

melt_data = melt_data[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 'Year', 'value']]
#melt_data.pivot(index='Country Name', columns='Indicator Name', values='value')
copy_melt = melt_data.copy()

In [ ]:
# reshape and cleaning 3

copy_melt = pd.pivot_table(copy_melt, values = 'value', index=['Country Name', 'Country Code','Year'], columns = 'Indicator Name').reset_index()
#copy_melt.index = piv_data['Year']
copy_melt.head()

In [ ]:
# dropping columns that are not needed
# dropping the "number of sources", "lower bound and upper bound", and "standard error"
# ideally you would automate this task by selecting all columns with the string estimate, and lower, upper

display (copy_melt.columns)

selection = ['Country Name', 'Country Code', 'Year', 'Control of Corruption: Estimate', 'Control of Corruption: Percentile Rank', 'Government Effectiveness: Estimate', 'Government Effectiveness: Percentile Rank', 'Political Stability and Absence of Violence/Terrorism: Estimate', 'Political Stability and Absence of Violence/Terrorism: Percentile Rank', 'Regulatory Quality: Estimate', 'Regulatory Quality: Percentile Rank', 'Rule of Law: Estimate', 'Rule of Law: Percentile Rank', 'Voice and Accountability: Estimate', 'Voice and Accountability: Percentile Rank']

display (selection)
display (type(selection))

In [ ]:
govdf = copy_melt[selection]
display(govdf.head())
print(govdf.shape)

In [ ]:
# inspect the regions and subset fingovdf to get the final dataset for merging

In [ ]:
# inspecting null entries visually

plt.figure(figsize=(12,8))
sns.heatmap(copy_melt.isnull(), yticklabels=False, cbar=False, cmap='viridis')

In [ ]:
# same to the growth dataset
# load data

file2 = r'C:\Users\Mohamed Ahmed Warsam\Desktop\Material\WORKING DIRECTORY\Governance_Growth\Development.xlsx'
data2 = pd.read_excel(file2, sheetname=0)
display (data2.head())

In [ ]:
# reshape and cleaning 1

melt_data2 = data2.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], var_name="Year")
melt_data2.tail()

In [ ]:
# reshape and cleaning 2

melt_data2 = melt_data2[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 'Year', 'value']]
#melt_data.pivot(index='Country Name', columns='Indicator Name', values='value')
copy_melt2 = melt_data2.copy()

In [ ]:
# reshape and cleaning 3

copy_melt2 = pd.pivot_table(copy_melt2, values = 'value', index=['Country Name', 'Country Code','Year'], columns = 'Indicator Name').reset_index()
#copy_melt.index = piv_data['Year']
copy_melt2.head()

In [ ]:
# shape 

display(copy_melt2.shape)
print(copy_melt2.info())

In [ ]:
# download as excel file

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple1.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
copy_melt2.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
# filter dataset by region - Africa

SSA = ["Angola", "Gabon", "Nigeria", "Benin", "Gambia, The", "Rwanda", "Guinea-Bissau",
   "Botswana", "Ghana", "São Tomé and Principe", "Burkina Faso", "Guinea", "Senegal", "Burundi", "Seychelles", "Cabo Verde", "Kenya", "Sierra Leone", "Cameroon", "Lesotho", "Somalia", "Central African Republic", "Liberia", "South Africa", "Chad", "Madagascar", "Comoros", "Malawi", "Sudan", "Congo, Dem. Rep.", "Mali", "Swaziland", "Congo, Rep", "Mauritania", "Tanzania", "Côte d'Ivoire", "Mauritius", "Togo", "Equatorial Guinea", "Mozambique", "Uganda", "Eritrea" "Namibia", "Zambia", "Ethiopia", "Niger", "Zimbabwe"]

In [ ]:
# filter dataset by region - SSA filtering

ssa_melt = copy_melt2[copy_melt2['Country Name'].isin(SSA)]

In [ ]:
# Export ssa_melt

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('dev_indicators_ssa.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
ssa_melt.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
# filter dataset by region - LATIN AMERICA AND THE CARIBBEAN

LATC = ["Paraguay", "Argentina", "Peru", "Dominican Republic", "Ecuador", "El Salvador", "Bolivia", "Guatemala",
"Brazil", "Haiti","Honduras", "Chile", "Jamaica", "Colombia", "Mexico", "Uruguay", "Costa Rica", "Nicaragua", "Venezuela, RB", "Cuba", "Panama"]

In [ ]:
# filter dataset by region - EAST ASIA AND PACIFIC 

EAP = ["Philippines", "Lao PDR", "Brunei Darussalam", "Cambodia", "Malaysia", "Thailand", "Mongolia", "Myanmar", "Papua New Guinea", "Indonesia","Vietnam"]

In [ ]:
# Now get the dataset ready 
# merge PolityIV with development indicators for SSA and timerange

timerange = [1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
            2008, 2009, 2010, 2011, 2012, 2013, 2013, 2014, 2015, 2016]

In [ ]:
resultdf = df[df['cs.visitor_id'].isin(by_year)]

In [ ]:
resultdf2 =

In [ ]:
finaldf = df[(df['year'].isin(time_range)) & (df['country'].isin(Africa_countries))]

In [ ]:
pd.merge?